body {
  background: #F5F5F5;
}

.container {
  background: white;
  padding: 0 10px 0 10px;
}

h5 {
  margin: 0 0 5px 0;
}

h4 {
  margin: 5px 0 8px 0;
}

.centered {
  text-align: center;
}

.work_period {
  margin: -20px 0 10px 13px;
}

.photo {
  width: 60%;
  /* border-radius: 50px; */
}

.photo-container {
  margin: 10px 0 10px 20px;
  padding: 0 0 0 10px;
}

.logo {
  width:35px;
  height:35px;
}

.private-data {
  margin: 20px 0 15px 0;
}

.logo-link {
  margin: 0 10px 0 0;
}

a {
  color: black;
}